/* 在一个CSS文件中，比如styles.css */  
*{
  margin: 0;
  padding: 0;
}
img{
  width: 100px;
  height: 100px;
}
.my-custom-style {  
    background-color: #ededed;  
    font-size: 40px;  
    display: flex;  
    align-items: center;  
    width: 80vw;
    height: 200px;  
    margin: 0px auto;  
  }
  .titles{
    font-size: 30px;
    margin-right: 10px;
  }

  ul li {
    list-style-type: none; /* 移除项目符号 */  
   
  }
  .fld{
    box-sizing: border-box;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ededed;
    padding: 10px;
    
  }
  .boxes{
    font-size: 40px;  
    display: flex;  
    align-items: center;  
    flex-wrap: wrap;
    width: 80vw;
    min-height: 200px;  
    margin: 0px auto;  
  }
  .txt{
    font-size: 8px;
  }
  .ipt{
    height: 26px;
  }
  .btn{
    height: 28px;
    width: 40px;
    margin-left: 10px;
  }
  .lyd{
    display: flex;
    align-items: center;
    justify-self: start;
  }
